#user_home_header {
    padding-bottom: 32pt;
}

user-avatar {
    display: block;
    background-color: var(--light-color);
    background-image: url("../img/avatar.png");
    background-size: cover, 48px 48px;
    background-position: center, bottom;
    background-repeat: no-repeat, no-repeat;
    border: 2px solid var(--border-color);
    border-radius: 256px;
    overflow: visible;

    position: relative;
}

user-avatar > .upload
{
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0;
}

user-avatar:hover > .upload
{
    visibility: visible;
    opacity: 0.25;
    -webkit-transition: visibility 0.6s, opacity 0.6s;
            transition: visibility 0.6s, opacity 0.6s;
}

user-avatar > .upload:hover
{
    opacity: 1;
}

user-currency {
    display: block;
    background-image: url("../img/currency.png");
    background-size: 100%;
    font-size: 200%;
}

user-title {
    display: block;
    font-size: 200%;
    background: black;
    color: white;
    width: 120%;
    /*border-radius: 75px 75px 75px 10px/25px 25px 25px 25px;*/
    border-radius: 75px/25px;
    z-index: 40;
}

user-title::after {
    display: block;
    content: ".";
    position: absolute;
    background: black;
    left: -5px;
    bottom: -10px;
    width: 85px;
    height: 40px;
    color: black;
    overflow: hidden;
    border-radius: 50px 0px;
    transform: rotate(5deg) skewX(-30deg);
    z-index: 49;
}

user-title > * {
    z-index: 50;
    position: relative;
}


user-title.pos-bottom-out {
    top: 85%;
}

