.no-border {
    border: 0px;
}

.border {
    border: 2px solid black;
    padding: 6px;
}

.tborder {
    border-top: 2px solid black;
    padding-top: 6px;
}

.bborder {
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

.rborder {
    border-right: 2px solid black;
}

.lborder {
    border-left: 2px solid black;
}

.round-border {
    border: 2px solid black;
    border-radius: 125px/10px;
    padding: 10px;
}

.round-border.pos-left-out {
    /* border-radius */
}

.round-border.pos-right-out {
    /* border-radius */
}

