.no-border {
    border: 0px;
}

.border {
    border: 2px solid var(--border-color);
    padding: 6px;
}

.tborder {
    border-top: 2px solid var(--border-color);
}

.bborder {
    border-bottom: 2px solid var(--border-color);
}

.rborder {
    border-right: 2px solid var(--border-color);
}

.lborder {
    border-left: 2px solid var(--border-color);
}

.round-border {
    border: 2px solid var(--border-color);
    border-radius: 125px/10px;
    padding: 10px;
}

.comment-border{
    border: 2px solid var(--border-color);
    border-radius: 0px 125px 0px 125px/0px 10px 0px 10px;
    padding: 5px;

}

.border-small{
    border: 2px solid var(--border-color);
    border-radius: 6px;
}

.round-border.pos-left-out {
    /* border-radius */
}

.round-border.pos-right-out {
    /* border-radius */
}

