.button { cursor: pointer; }

.button.upload,.button.login, .button.config,
.button.warning, .button.review {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    
    display: block;
    box-sizing: border-box;
    border-radius: 128px;
    border-width: 2px;
    border-style: solid;
}

.button.review{
    border-color: var(--border-color);
    background-color: var(--light-color);
    width: 150px;
    height: 30px;
}

.button.login{
    border-color: var(--border-color);
    background-color: var(--light-color);
    width: 170px;
    height: 25px;
}

.button.upload:active, .button.config:active,
.button.warning:active, .button.logout:active {
    border-width: 3px;
}

.button.upload, .button.warning {
    border-color: var(--border-color);
    background-color: var(--light-color);
}

.button.config {
    background-image: url("../img/config.png");
    border-color: transparent;
}

.button.upload {
    background-image: url("../img/upload.png");
}

.button.warning {
    background-image: url("../img/warning.png");
}

.button.logout {
    background-image: url("../img/logout.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: block;
}
