.hidden
{
    visibility: hidden;
    opacity: 0;
}

.shown
{
    visibility: visible;
    opacity: 1;

    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
}

.hidden.shown
{
    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
}

.d_hidden
{
   display: none; 
}
