body {
    background: url("../img/background.png") fixed;
    background-size: cover;
    /*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale')";
    */

    text-align: center;
}

main-container
{
    text-align: left;
    display: inline-block;
    background: var(--prim-color);
    margin: 3% auto;
    width: 1020px;
    min-height: 200px;
    max-height: 790px;
}
