:root {
    --light-color: #b1edff;
    --prim-color:  #222055;
    --sec-color: #09042e;
    --border-color: rgb(195, 199, 255);
}

.prim-bg {
    background-color: var(--prim-color); 
}

.sec-bg {
    background-color: var(--sec-color);
}

.light-bg {
    background-color: var(--light-color);
}
