.pos-fixed {
    position: fixed;
}

.pos-fixed.pos-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos-center {
    margin: 0px auto;
}

.pos-datacontent{
    height: 100px;
}

.pos-left-out {
    position: absolute;
    top: 5%;
    right: 100%;
    box-sizing: border-box;
    height: 90%;
}

.pos-bottom-out {
    position: absolute;
    top: 100%;
}

.pos-bottom-out.right
{
    right: 0%;
}
.pos-bottom-out.left
{
    left: 0%;
}

#tagarea-search{
    width: 300px;
}

.w-h-search
{
    min-width: 50%;
    max-width: 60%;
}

#file_upload
{
    z-index: 75; 
    box-shadow: 20px 20px 10px black;
}

.pos-bottom-out.pos-center {
    left: 50%;
    transform: translate(-50%, 0);
}

.pos-right-out {
    position: absolute;
    top: 5%;
    left: 100%;
    box-sizing: border-box;
    height: 90%;
}

v-flex {
    display: flex;
    flex-direction: column;
}

h-flex {
    display: flex;
}

h-flex.wrap {
    flex-wrap: wrap;
}

h-flex > * {
    flex: 1;
    margin: 5px;
}

h-flex.near > * {
    margin: 0px;
}

v-flex > * {
    flex: 1;
    margin: 5px;
}

v-flex.near > * {
    margin: 0px;
}

.hflex {
    display: flex;
}
.hflex > * {
    margin: 5px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}


.pos_relative
{
    position: relative;
}

#width-tagsearch{
    width: 600px;
}

#pos-filters{
    width: 100%;
}


overlay-pin
{
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: visible;
}

fly-item
{
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

user-avatar.right {
    left: 100%;
    transform: translate(-170%);
}

#size-data-content{
    width: 300px;
    height: 80px;
    margin-top: 10px;
}
