._32px { height: 32px; width: 32px; }
._48px { height: 48px; width: 48px; }
._64px { height: 64px; width: 64px; }
._100px { height: 100px; width: 100px; }
._128px { height: 128px; width: 128px; }
._200px { height: 200px; width: 200px; }
._256px { height: 256px; width: 256px; }

.width80 { min-width: 80%; }
.w200px { min-width: 200px; }
