tag-select /* Списък с тагова */
{
    background-color: var(--border-color);
    border-radius: 5px;
    border: 1px solid black;
    max-width: 100%;
    padding: 3px;
    overflow: hidden;
    display: inline-block;
    word-wrap: nowrap;

}

tag-option /* Таг в списък с тагове */
{
    display: block;
    color: black;

}

tag-name /* Име на таг в списъка */
{
    white-space: nowrap;
}

tag-info /* Описание за таг в списъка */
{

}

tag-option.selected /* На фокус */
{
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tag-area > span /* Където потребителя пише */
{

}

tag-box /* Вече добавен */
{
    display: inline-block;
    background: var(--border-color);
    border-radius: 5px;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}
