.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-top {
    vertical-align: text-top;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.fontsize {
    font-size: 18px;
}
.bigfontsize {
    font-size: 25px;
}

input, textarea, tag-area
{
    color: black;
}

.text-vmiddle {
    align-items:center;
    justify-content:center;
    display: flex;
}

a { text-decoration: none; }