.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-top {
    vertical-align: text-top;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.fontsize {
    font-size: 18px;
}

.bigfontsize {
    font-size: 25px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

input, textarea, tag-area
{
    color: black;
}

.text-vmiddle {
    align-items:center;
    justify-content:center;
    display: flex;
}

.text-border{
    background: linear-gradient(to top, var(--sec-color), var(--prim-color));
    border-radius: 20px / 5px;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-border.to-black{
    background: linear-gradient(to top, var(--sec-color), black);

}

fieldset{
    padding: 3px;
    margin: 20px;
}

a { text-decoration: none; }

