.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-top {
    vertical-align: text-top;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.white-text {
    color: white;
}

input, textarea, tag-area
{
    color: black;
}
