<header>
    ${Title=Заглавие}
</header>
<form method="post">
<fieldset data-content="info"  class="sec-bg border round-border white-text text-left fright fontsize">
    <legend class="text-left white-text text-border">
        <b>
            Вход:
        </b>
    </legend>
    <table>
        <tr>
            <label>
                <td class="text-center text-left">
                    Име:
                </td>
                <td class="pos_relative w-login">
                    <input name="name" autocomplete="username"
                        class="light-bg input fright"
                        type="text"
                        required
                        minlength=5
                        maxlength=40/>
                </td>
            </label>
        </tr>
        <tr>
            <label>
                <td class="text-center text-left">
                    Парола:
                </td>
                <td class="pos_relative w-login">
                    <input name="password" autocomplete="current-password"
                        class="light-bg input fright"
                        type="password"
                        required
                        minlength=5
                        maxlength=40/>
                </td>
            </label>
        </tr>
    </table>
    <br/>
    <input name="csrf" type="hidden" value="${csrf}" />
    <button class="button login  pos-center black-text fontsize text-center" type="submit">
        <b>
            Влез
        </b>
    </button>
    <br />
    <span>
        ${error=}
    </span>
    <footer class="text-center">
        Нямаш регистрация? <br />
        <a class="a" href="./register">
            Регистрирай се!
        </a>
    </footer>
</fieldset>
</form>