    <fieldset class="w-register pos-left-out sec-bg round-border white-text text-left fontsize">
        <legend class="text-border to-black">
            <b>
                Изисквания за името:
            </b>
        </legend>
        <ul class="text-left white-text">
            <li> Да съдържа между 6 и 20 символа. </li>
            <br/>
            <li> Може да съдържа букви на латиница и на кирилица. </li>
            <br/>
            <li> Може да съдържа специални символи като: "-", "_", "*" и др. </li>
        </ul>
    </fieldset>
    <fieldset class="w-register pos-right-out sec-bg round-border white-text text-left fontsize">
        <legend class="text-border to-black">
            <b>
                Изисквания за паролата:
            </b>
        </legend>
        <ul class="text-left white-text">
            <li> Да съдържа между 12 и 50 символа. </li>
            <br/>
            <li> Да съдържа букви на латиница или на кирилица. </li>
            <br/>
            <li> Да съдържа малки и главни букви. </li>
            <br/>
            <li> Да съдържа поне 1 специален символ като: "-", "_", "*" и др. </li>
            <br/>
            <li> Да съдържа поне 1 цифра. </li>
        </ul>
    </fieldset>

<form method="post">
<fieldset data-content="info"  class="sec-bg border round-border white-text text-left fontsize">
    <legend class="text-left white-text text-border">
        <b>
            Регистрация:
        </b>
    </legend>
    <table>
        <tr>
            <label>
                <td class="text-center text-left">
                    Име:
                </td>
                <td class="pos_relative w-login">
                    <input name="name" autocomplete="username"
                        class="light-bg input fright"
                        type="text"
                        required
                        minlength=5
                        maxlength=40/>
                </td>
            </label>
        </tr>
        <tr>
            <label>
                <td class="text-center text-left">
                    Парола:
                </td>
                <td class="pos_relative w-login">
                    <input name="password" 
                    autocomplete="new-password" class="light-bg input fright"
                        type="password"
                        required
                        minlength=5
                        maxlength=40/>
                </td>
            </label>
        </tr>
        <tr>
            <label>
                <td class="text-center text-left">
                    Повтори паролата:
                </td>
                <td class="pos_relative w-login">
                    <input name="password2" type="password"
                    autocomplete="new-password"
                        class="light-bg input fright"
                        required
                        minlength=5
                        maxlength=40/>
                </td>
            </label>
        </tr>
    </table>
    <br/>
    <input name="csrf" type="hidden" value="${csrf}" />
    <button class="button login  pos-center black-text fontsize text-center" type="submit">
        <b>
            Регистрирай се!
        </b>
    </button>
    <br />
    <span>
        ${error=}
    </span>
    <footer class="text-center">
        Вече имаш регистрация? <br />
        <a class="a" href="./login">
            Влез в профила си!
        </a>
    </footer>
</fieldset>
</form>
