<h-flex>
    <fieldset id="size-data-content"
        class="h-flex text-center sec-bg border
               round-border pos-datacontent white-text
               fontsize pos-center ">
        <legend class="text-left white-text text-border">
            <b>
                Заглавие:
            </b>
        </legend>
        ${name}
        <br />
        От: ${owner}
        <br />
        Дата: ${created}
    </fieldset>
    <a href="/user" class="h-flex w0px pos_relative">
        <header id="user_home_header" class="pos-left-out w200px">
            <user-avatar class="_100px text-center">
                <user-currency class="_100px
                                    pos-right-out
                                    text-left fontsize
                                    white-text">
                    ${scrolls}x
                </user-currency>
                <user-title class="pos-bottom-out pos-center pos-bottom-out fontsize">
                    <span>
                        ${user=Гошко} <br />
                        ${role=Бандита}
                    </span>
                </user-title>
            </user-avatar>
        </header>
    </a>
</h-flex>

<h-flex class="wrap" id="search_results">
    <fieldset class="sec-bg border round-border white-text text-left fontsize">
        <legend class="text-left white-text text-border">
            <b>
                Описание:
            </b>
        </legend>
        ${info=Няма описание}
    </fieldset>
    <fieldset class="sec-bg border round-border black-text text-left fontsize">
        <legend class="text-left white-text text-border">
            <b>
                Категории:
            </b>
        </legend>
        <tag-area id="tags_container"></tag-area>
    </fieldset>
</h-flex>

<fieldset class="sec-bg border round-border white-text
                 text-left fontsize pos-center">
    <legend class="text-center white-text text-border">
        <b>
            Коментари:
            ${not_bought_note= Искаш и ти да пишеш тук?
            Купи файла и го оцени тук -> }
        </b>
    </legend>
    <div class="mh200px y_scroll fontsize pos-center"
         id="feedback_container">
        <span id="no_comments">
            Няма налични коментари
        </span>
        <h-flex class="resource_feedback other_feedback">
            <user-avatar class="_32px"
                         style="flex: unset;">
            </user-avatar>
            <span style="flex: unset;" class="user_name">
                ${user=Гошко}
                <br />- ${role=Бандита} -
            </span>
            <div class="flex: 1; comment-border message
            white-text prim-bg fontsize text-left">
                Чужд коментар
            </div>
        </h-flex>
        <h-flex class="resource_feedback your_feedback">
            <user-avatar class="max_32px text-center">
            </user-avatar>
            <div class="width80 comment-border message
            white-text prim-bg fontsize text-left">
                Твой коментар
            </div>
        </h-flex>
    </div>

    <form id="feedback_form">
        <h-flex class="tborder pos-center
                       ${hide_new_feedback=d_hidden}">
            <user-avatar class="my_avatar
                                max_32px text-center">
            </user-avatar>
            <input class="width80 comment-border 
                          white-text black-text light-bg
                          fontsize text-left"
                   id="user_comment"
                   minlength=10
                   type="text" 
                   id="new_comment" />
        </h-flex>
        <br />
        <span id="feedback_form_feedback"></span>
    </form>
</fieldset>

<h-flex class="text-center wrap fontsize">
    <fieldset class="sec-bg border round-border white-text text-left fontsize">
        <legend class="text-left white-text text-border">
            <b>
                Целия материал:
            </b>
        </legend>
        <section class="white-text text-center pos-center">
            <buy-cost class="_100px
                                text-left fright fontsize
                                white-text pos-center">
                ${price}x
            </buy-cost>
            Файл: ${data_name=Не е качено}
            <br />
            Размер: ${data_size=0B} (${data_mime=unknown})
            <br />
            <br />
            <a class="download_item" href="${data_url}" data-item-id="${id}" download="${data_name}">
                <button class="button review pos-center black-text fontsize text-center ">
                    <b>
                        Изтегли файл
                    </b>
                </button>
            </a>
            <button class="button review pos-center black-text fontsize text-center buy_item" data-item-id="${id}">
                <b>
                    Купи
                </b>
            </button>
            <span class="buy_error" data-item-id="${id}">
            </span>
        </section>
    </fieldset>
    <fieldset class="sec-bg border round-border black-text text-left fontsize">
        <legend class="text-left white-text text-border">
            <b>
                Демо материал:
            </b>
        </legend>
        <section class="white-text text-center">
            Файл: ${preview_name=Не е качено}
            <br />
            Размер: ${preview_size=0B} (${preview_mime=unknown})
            <br />
            <br />
            <a href="${preview_url}"
               download="${preview_name}">
                <button class="button review pos-center
                               black-text fontsize
                               text-center">
                    <b>
                        Изтегли демо
                    </b>
                </button>
            </a>
        </section>
    </fieldset>
</h-flex>

${parse:approve_element=resource_approve_form.html}

${parse:js_tags.html}
${parse:js_csrf.html}
${parse:js_id.html}
<script src="${path:scripts/resource/tags.js}"
        type="module"> </script>
<script src="${path:scripts/resource/shopping.js}"
        type="module"> </script>
<script src="${path:scripts/resource/feedback.js}"
        type="module"> </script>
<script src="${path:scripts/resource/send_feedback.js}"
        type="module"> </script>

<script src="${path:scripts/user/user.js}"
        type="module"> </script>
