<div class="white-text">
Здравей, ${user}
<br />
Ето го ресурса, който отвори:
<br />
<br />
${name}
<br />
${info=Няма описание}
<br />
${owner}
<br />
${created}
<br />

<tag-area id="tags_container" class="light-bg"></tag-area>

<br />
<br />

${data_name=Не е качено}
<br />
${data_size=0B} ${data_mime=unknown}
<br />
<button class="button buy_item"
   data-item-id="${id}">
    Купи
</button>
<br />

${preview_name=Не е качено}
<br />
${preview_size=0B} ${preview_mime=unknown}
<br />
<a class="button"
   href="${preview_url}"
   download="${preview_name}">
    <button>
        Изтегли демо
    </button>
</a>
<br />
</div>


${parse:js_tags.html}
${parse:js_csrf.html}
<script src="${path:scripts/resource/tags.js}"
        type="module"> </script>
<script src="${path:scripts/resource/shopping.js}"
        type="module"> </script>
