<h-flex>
    <div class="pos_relative">
        Филтриране:
        <tag-area class="light-bg"
                  name="tags"
                  form="filter">
        </tag-area>
        <overlay-pin class="pos-bottom-out">
            <tag-select class="hidden"> </tag-select>
        </overlay-pin>
    </div>
    <header id="user_home_header" class="w200px">
        <user-avatar class="_100px right text-center" >
            <user-currency class="_100px
                                  pos-right-out
                                  text-left fontsize"> 
                550x
            </user-currency>
            <user-title class="pos-bottom-out pos-center fontsize">
                <span>
                    ${name=Гошко} <br />
                    ${role=Бандита}
                </span>
            </user-title>
        </user-avatar>
    </header>
</h-flex>

<h-flex class="wrap" id="search_results">
    <section class="round-border sec-bg white-text search_result">
        <table>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Заглавие:
                        </h1>
                    </td>
                    <td>
                        <input data-content="name"
                               class="light-bg"
                               type="text" />
                    </td>
                </label>
            </tr>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Описание:
                        </h1>
                    </td>
                    <td>
                        <textarea class="light-bg fright"
                                  data-content="info"
                        ></textarea>
                    </td>
                </label>
            </tr>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Категории:
                        </h1>
                    </td>
                    <td>
                        <tag-area class="light-bg fright"
                        > </tag-area>
                    </td>
                </label>
            </tr>
        </table>
        <div data-content="owner"> тествам полето </div>
        <div data-content="created"> само за тест </div>
        <br/>
        <button class="button review pos-center fontsize">
                <b>
                Преглед
                </b>
        </button>
    </section>
</h-flex>


<form id="filter"> </form>


<script src="${path:scripts/user/tag_selection.js}"
        type="module"> </script>
