<h-flex>
    <fieldset class="sec-bg border round-border black-text text-left fontsize">
        <legend class="text-left white-text text-border">
                <b>
                    Филтриране в "${sourceName=Продавани материали}":
                </b>
            </legend>
            <div>
            <div class="pos_relative" id="pos-filters">
                <tag-area id="width-tagsearch"
                        class="light-bg input"
                        name="tags"
                        form="filter">
                </tag-area>
                <overlay-pin class="pos-bottom-out">
                    <tag-select class="shown hidden">
                    </tag-select>
                </overlay-pin>
            </div>
        </div>
    </fieldset>
    <a href="/user" class="h-flex w0px pos_relative">
    <header id="user_home_header" class="w200px">
        <user-avatar class="_100px right text-center" >
            <user-currency class="_100px
                                  pos-right-out
                                  text-left fontsize
                                  white-text"> 
                ${scrolls}x
            </user-currency>
            <user-title class="pos-bottom-out pos-center fontsize">
                <span>
                    ${user=Гошко} <br />
                    ${role=Бандита}
                </span>
            </user-title>
        </user-avatar>
    </header>
    </a>
</h-flex>

<shadow-wrap>
    <inner-shadow> </inner-shadow>
    <h-flex class="wrap" id="search_results">
        ${parse:search_result_sample.html}
    </h-flex>
</shadow-wrap>

<form id="filter"> </form>

<script>
    window.query_base = ${source="/api/filter/"}
</script>

<script src="${path:scripts/user/tag_selection.js}"
        type="module"> </script>
<script src="${path:scripts/search/search.js}"
        type="module"> </script>
<script src="${path:scripts/user/user.js}"
        type="module"> </script>
