<header id="user_home_header">
    <nav class="fleft hflex">
       <!--<a href="#" class="_64px button config"></a>
       <a href="#" class="_64px button warning"></a>-->
    </nav>
    <user-avatar class="_200px pos-center text-center" >
        <user-currency class="_128px
                              pos-right-out
                              text-left
                              white-text"> 
            ${scrolls}x
        </user-currency>
        <user-title class="pos-bottom-out pos-center">
            <span>
                ${user=Гошко} <br />
                ${role=Бандита}
            </span>
        </user-title>
        <label class="upload button _64px ">
            <input form="avatar_form" name="avatar"
                accept="image/png,image/jpeg,image/gif"
                type="file" class="hidden" />
        </label>
    </user-avatar>
</header>
<br />


<h-flex>
    <section class="round-border sec-bg white-text">
        <h1 class="text-center bigfontsize">
            Качи материал:
        </h1>
        <br />
        <table>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Заглавие:
                        </h1>
                    </td>
                    <td>
                        <input name="name" form="upload"
                               class="light-bg"
                               type="text"
                               required
                               minlength=5
                               maxlength=40/>
                    </td>
                </label>
            </tr>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Описание:
                        </h1>
                    </td>
                    <td>
                        <textarea class="light-bg fright"
                                  form="upload"
                                  name="info"
                                  required
                                  minlength=10
                        ></textarea>
                    </td>
                </label>
            </tr>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Категории:
                        </h1>
                    </td>
                    <td class="pos_relative">
                        <tag-area class="light-bg fright input"
                                  name="tags"
                                  form="upload">
                        </tag-area>
                        <overlay-pin
                                class="pos-bottom-out">
                            <tag-select class="shown hidden">
                            </tag-select>
                        </overlay-pin>
                    </td>
                </label>
            </tr>
        </table>
        <br />
        <br />
        <button id="open_upload"
                class="_100px button upload pos-center">
        </button>
        <br />
        <span>${error=}</span>
    </section>
    <turn-card class="round-border sec-bg
                      text-center white-text">
        <card-front>
            <h1>
                Разгледай <br />
                материали
            </h1>
            <img src="${path:img/scroll.png}" width="100%" />
        </card-front>
        <card-back>
            <v-flex class="size100 near">
                <h-flex class="near">
                    <a href="/user/resources">
                        <div class="rborder height100
                                    text-vmiddle">
                            <span class="white-text bigfontsize">
                                Твоите 
                                <br />материали 
                                <br />(създадени от теб)
                            </span>
                        </div>
                    </a>
                    <a href="/user/accured">
                        <div class="height100
                                    text-vmiddle">
                            <span class="white-text bigfontsize">
                                Достъпни 
                                <br />материали 
                                <br />(закупени от теб)
                            </span>
                        </div>
                    </a>
                </h-flex>
                <h-flex class="near">
                    <a href="/search">
                        <div class="tborder height100
                                    text-vmiddle">
                            <span class="white-text bigfontsize">
                                Търси 
                                <br />нови материали 
                                <br />(от други учащи)
                            </span>
                        </div>
                    </a>
                </h-flex>
            </v-flex>
        </card-back>
    </section>
</h-flex>

<fly-item id="file_upload"
          class="sec-bg round-border shown hidden">
    <h-flex class="text-center fontsize">
        <section>
            <br />
            <b class="white-text">
            Целия 
            <br />материал
            </b>
            <br />
            <br />
            <label class="button review text-center pos-center">
                Избери файл
                <input class="hidden"
                       name="full"
                       form="upload"
                       required
                       type="file" />
            </label>
        </section>
        <section>
            <br />
            <b class="white-text">
            Демонстративен 
            <br />материал (демо)
            </b>
            <br />
            <br />
            <label class="button review text-center pos-center">
                Избери файл
                <input class="hidden"
                       name="demo"
                       form="upload"
                       required
                       type="file" />
            </label>
        </section>
    </h-flex>
    <button form="upload"
            class="_100px button upload pos-center"
    >
    </button>
</fly-item>



<form id="avatar_form" method="POST"
      enctype="multipart/form-data">
    <input type="hidden" name="csrf" value="${csrf}" />
</form>
<form id="upload" method="POST"
      enctype="multipart/form-data">
    <input type="hidden" name="csrf" value="${csrf}" />
</form>


${parse:js_csrf.html}
<script src="${path:scripts/user/resource_upload.js}"
        type="module"> </script>
<script src="${path:scripts/user/tag_selection.js}"
        type="module"> </script>
<script src="${path:scripts/user/avatar_upload.js}"
        type="module"> </script>
<script src="${path:scripts/user/user.js}"
        type="module"> </script>
