<header id="user_home_header">
    <nav class="fleft hflex">
       <a href="#" class="_64px button config"></a>
       <a href="#" class="_64px button warning"></a>
    </nav>
    <user-avatar class="_256px pos-center text-center" >
        <user-currency class="_128px pos-right-out text-left"> 
            550x
        </user-currency>
        <user-title class="pos-bottom-out pos-center">
            <span>
                ${name=Гошко} <br />
                ${role=Бандита}
            </span>
        </user-title>
    </user-avatar>
</header>
<h-flex>
    <section class="border">
        Качи материал:
        <br />
        <label>
            Име:
            <input type="text" name="" />
        </label>
        <br />
        <label>
            Описание:
            <input type="text" name="" />
        </label>
        <br />
        <label>
            Категории:
            <input type="text" name="" />
        </label>
        <button class="_48px button upload"></button>
    </section>
    <section class="border text-center">
        <h1>
            Разгледай <br />
            материали
        </h1>
        <img src="${path:img/scroll.png}" width="100%" />
    </section>
</h-flex>
