<header id="user_home_header">
    <nav class="fleft hflex">
       <a href="#" class="_64px button config"></a>
       <a href="#" class="_64px button warning"></a>
    </nav>
    <user-avatar class="_200px pos-center text-center" >
        <user-currency class="_128px
                              pos-right-out
                              text-left"> 
            550x
        </user-currency>
        <user-title class="pos-bottom-out pos-center">
            <span>
                ${name=Гошко} <br />
                ${role=Бандита}
            </span>
        </user-title>
    </user-avatar>
</header>
<br />

<form id="upload" method="POST" action="/api/resource">
</form>

<h-flex>
    <section class="round-border sec-bg white-text">
        <h1 class="text-center ">
            Качи материал:
        </h1>
        <table>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Име:
                        </h1>
                    </td>
                    <td>
                        <input name="name" form="upload"
                               class="light-bg"
                               type="text"/>
                    </td>
                </label>
            </tr>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Описание:
                        </h1>
                    </td>
                    <td>
                        <textarea class="light-bg"
                                  form="upload"
                                  name="info"
                        ></textarea>
                    </td>
                </label>
            </tr>
            <tr>
                <label>
                    <td class="text-top">
                        <h1>
                            Категории:
                        </h1>
                    </td>
                    <td>
                        <textarea class="light-bg"
                                  name="tags"
                                  form="upload"
                        ></textarea>
                    </td>
                </label>
            </tr>
        </table>
        <button class="_100px button upload pos-center"></button>
    </section>
    <section class="round-border sec-bg text-center white-text">
        <h1>
            Разгледай <br />
            материали
        </h1>
        <img src="${path:img/scroll.png}" width="100%" />
    </section>
</h-flex>

<fly-item class="sec-bg round-border">
    <h-flex>
        <section>
            Целия материал
            <br />
            <input name="full" form="upload"
                   type="file" />
        </section>
        <section>
            Демонстративен материал
            <br />
            <input name="demo" form="upload"
                   type="file" />
        </section>
    </h-flex>
    <button form="upload"
            class="_100px button upload pos-center">
    </button>
</fly-item>
